body {
    font-family: 'Open Sans';
    margin: 0;
}

.text-wrap {
    padding-bottom: 5%;
    padding-top: 5%;
}

h2 {
    text-align: center;
}

p {
    margin: 0 0 1.1em;
    text-align: center;
}

.hero_image {
    width: 100%;
    border: 0;
}