body {
    font-family: 'Open Sans';
    margin: 0;
}

.header {
    background-color: #F3F3F3;
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.link:hover {
    color: black;
}

.dropdown {
    position: absolute;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    background-color: #fff;
    top: 1.5rem;
    padding: .75rem;
    box-shadow: 0 5px 2px 0 rbga(0, 0, 0, .1);
}

.text-wrap {
    padding-bottom: 5%;
    padding-top: 5%;
}

.text-wrap-2 {
    background-color: rgba(94,99,255,.05);
    padding-bottom: 5%;
    padding-top: 5%;
}

h2 {
    text-align: center;
}

p {
    margin: 0 0 1.3em;
    text-align: center;
}

.hero_image {
    width: 100%;
    border: 0;
}