@media screen and (max-width: 600px) {
    .hero_image {
        display: none;
    }

    .hero_image_small {
        background-color: #6067ff;
        padding: 5%;
    }

    h1 {
        color: #90CAF9;
        font-size: 3.1em;
        text-align: center;
    }

    .subtitle-2 {
        padding-left: 5%;
        padding-right: 5%;
    }

    .text-wrap {
        padding-left: 5%;
        padding-right: 5%;
    }

    .text-wrap-2 {
        padding-left: 5%;
        padding-right: 5%;
    }

    #pricing {
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .footer {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media only screen and (max-width: 4196px) and (min-width: 600px) {
    .hero_image_small {
        display: none;
    }
}

body {
    font-family: 'Open Sans';
    font-size: 18px;
    margin: 0;
}

.header {
    background-color: #F3F3F3;
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.dropdown.active > .link,
.link:hover {
    color: black;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    background-color: #fff;
    top: calc(100% + .25rem);
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 5px 2px 0 rbga(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.text-wrap {
    padding-bottom: 5%;
    padding-top: 5%;
    color: #333042;
}

.profile_picture > img {
    width: 30%;
    
}

.profile_picture {
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: center;
}

.text-wrap > p {
    color: #666;
}

.ti-music {
    margin-right: .5em;
}

.text-wrap-2 {
    background-color: rgba(94,99,255,.05);
    padding-bottom: 5%;
    padding-top: 5%;
    color: #333042;
}

.text-wrap-2 > p {
    color: #333042;
}

.text-wrap > p {
    color: #333042;
}

.title {
    background-color: #6067ff;
    padding-top: 8%;
    padding-bottom: 8%;
}

h1 {
    color: #90CAF9;
    font-size: 3.1em;
    text-align: center;
}

.subtitle-1 {
    color: #ff0;
    margin-bottom: -1em;
    font-weight: 700;
    font-family: 'Times New Roman', 'Times', serif;
    font-size: 24px;
}

.subtitle-2 {
    color: white;
}

.text-wrap-subtitle-3 {
    text-align: center;
}

.subtitle-3 {
    text-decoration: none;
    color: #ff0;
    font-size: 14px;
}

.ti-control-play {
    color: #ff0;
    margin-right: 1em;
    font-size: 14px;
}

h2 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}

p {
    margin: 0 auto 1.3em;
    text-align: center;
    max-width: 34em;
}

#pricing {
    padding-bottom: 5%;
    padding-top: 5%;
}

h3 {
    text-align: center;
}

.pricing-individual {
    font-size: 20px;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}

li {
    text-align: center;
    text-decoration: none;
}

.hero_image {
    width: 100%;
    border: 0;
}

.footer {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #333042;
}

.footer > p {
    color: white;
}

i {
    margin: .5em;
}